<div class="feed" id="close-form">
    <div class="">
        <div class="form-header">
            <div class="form-header1 bold">Create a new party</div>
        </div>
        <form action="admin.html" method="" id="createpartyform">
            <table id="" class="">
                <tr colspan=2>
                    <td><input class="" type="text" name="name" placeholder="Party Name"></td>
                </tr>
                <tr colspan=2>
                    <td><input class="" type="text" name="hqaddress" placeholder="HQ Address"></td>
                </tr>
                <tr colspan=2>
                    <td><input class="" type="text" name="logourl" placeholder="Logo URL"></td>
                </tr>
                <tr id="actions">
                    <td><input type="submit" value="Create"></td>
                    <td><button id="cancel-party-creation" class="cancel-btn red">Cancel</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>