<div class="feed" id="close-form">
    <div class="">
        <div class="form-header">
            <div class="form-header1 bold">Create a new office</div>
        </div>
        <form action="" method="" id="createofficeform">
            <table>
                <tr colspan=2>
                    <td>
                        <select name="type" required="">
                            <option value="1">Federal</option>
                            <option value="1">State</option>
                            <option value="1">Legislative</option>
                            <option value="1">Local Government</option>
                        </select>
                    </td>
                </tr>
                <tr colspan=2>
                    <td><input type="text" name="office_name" placeholder="Office Name"></td>
                </tr>
                <tr id="actions">
                    <td><input type="submit" value="Create"></td>
                    <td><button id="cancel-office-creation" class="cancel-btn red">Cancel</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>