<div class="container">
  <div>
    <div class="right">
      <i class="fa fa-times-thin fa-2x" aria-hidden="true"></i>
    </div>
    <div id="header">
      <h3>Petition created by John Doe</h3>
    </div>
    <div class="feed midtop">
      <div class="flex flex-row">
        <table id="petition-table">
          <tbody>
            <tr>
              <td><span class="bold">Created on:</span> Feb 10th, 2019 10:15</td>
            </tr>
            <tr>
              <td><span class="bold">Political Office:</span> Attorney General</td>
            </tr>
            <tr>
              <td colspan="2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed consectetur erat, bibendum scelerisque ligula. Nam lacus nisl, hendrerit in scelerisque eu, suscipit ac sem. Phasellus sagittis elit et odio mattis blandit. Morbi suscipit velit in magna tempor pulvinar. Aliquam molestie purus id lobortis aliquam. Etiam volutpat imperdiet dui suscipit dictum. Quisque eu dictum nunc. Nunc faucibus, diam sit amet tempor consectetur, nibh nunc sodales ligula, non iaculis mi mauris vitae lectus. Etiam orci ligula, ultrices vel dignissim ut, sollicitudin nec dolor. Praesent quis aliquam dui, at rhoncus felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed urna velit, sollicitudin vitae maximus eget, tincidunt in metus. Pellentesque vehicula convallis ligula et cursus. Pellentesque at malesuada nisi. Aliquam erat volutpat.
                Nam scelerisque, nisi id commodo venenatis, erat enim luctus ex, sit amet varius tortor orci at dolor. Praesent sit amet sagittis erat. Fusce a diam non nibh aliquam laoreet. Nunc feugiat mauris massa, vitae finibus sem posuere vel. Curabitur ornare ligula et libero finibus sagittis. Proin vestibulum dictum nunc, at laoreet augue hendrerit ut. Quisque hendrerit ultrices ante, id maximus massa rutrum eget.
                Fusce laoreet nisi in risus auctor, in imperdiet lorem convallis. Pellentesque a nisl sed erat porta porta. Donec interdum vitae mauris nec semper. Donec lobortis orci ex, at finibus mi condimentum nec. Aenean bibendum orci sed efficitur ullamcorper. Suspendisse dictum semper neque sed interdum. Donec eget maximus ante. Vestibulum at nisi sed tellus pulvinar placerat. Maecenas sit amet massa eu ex lacinia lacinia vel ac sem. Nullam non malesuada orci. Sed nec ante sagittis, pretium tellus sed, consequat magna. Cras a odio vehicula, molestie lectus in, faucibus nulla. Praesent sit amet lorem vitae est venenatis lacinia. Nunc eleifend massa ipsum, ut sodales nunc auctor nec. Cras ultrices lobortis hendrerit.
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <td><h4>Petition Evidence</h4></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#"><img src="" alt=""></a></td>
              <td><img src="" alt=""></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>