<div class="feed" id="close-form">
    <div class="">
        <div class="form-header">
            <div class="form-header1 bold">Register a new candidate</div>
        </div>
        <form action="" method="" id="createofficeform">
            <table>
                <tr colspan=2>
                    <td>
                        <select name="office">
                            <option value="">Select office name</option>
                            <option value="1">Senate</option>
                            <option value="1">Attorney General</option>
                            <option value="1">Province Governor</option>
                            <option value="1">State Minister</option>
                        </select>
                    </td>
                </tr>
                <tr colspan=2>
                    <td>
                        <select name="candidate">
                            <option value="">Select candidate name</option>
                            <option value="1">John Doe</option>
                            <option value="1">Jane Doe</option>
                            <option value="1">Lorem Ipsum</option>
                            <option value="1">John Wayne</option>
                        </select>
                    </td>
                </tr>
                <tr id="actions">
                    <td><input type="submit" value="Register"></td>
                    <td><button id="cancel-candidate-creation" class="cancel-btn red">Cancel</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>